{include file="../application/kygl/view/index/header.html" /}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">我的菜单</h3>
                </div>

                <div class="panel-body">
                    {if $Think.session.usergroup == 1}
                    {include file="../application/kygl/view/index/menu2.html"}
                    {else}
                    {include file="../application/kygl/view/index/menu.html"}
                    {/if}
                </div>

            </div>

        </div>
        <div class="col-sm-10 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">在线审核</h3>
                </div>
                <div class="panel-body">

                    <div class="list-group">
                        {foreach $shenhe as $sh}
                        <a  class="list-group-item" href="{:url('keyan/shenhechaxun','xmid='.$sh.id)}"><span class="glyphicon glyphicon-file"></span> {$sh.title}</a>
                        {/foreach}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>













{include file="../application/kygl/view/index/footer.html" /}